<nav class="navbar navbar-expand-lg navbar-light bg-light-success mb-3 p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nutrition Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= link_to "Foods", categories_path, class: "nav-link" %>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <%= form_with url: food_items_path,
                    method: :get,
                    local: false,
                    data: { turbo_frame: "foods_list" },
                    html: { class: "d-flex", role: "search" } do |f| %>

        <%= f.text_field :q,
              value: @query,
              placeholder: "Search foods...",
              class: "form-control me-2",
              aria: { label: "Search" } %>

        <%= f.submit "Search",
              class: "btn btn-outline-success" %>

      <% end %>

    </div>
  </div>
</nav>